nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #e0e0e0;
}

nav>a.active {
    text-decoration: underline;
    color: #0f0;
}